<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <main>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img
                src="https://img.advice.co.th/images_nas/pic_product4/A0134460/A0134460OK_ORI_1.jpg"
                class="rounded mx-auto d-block"
                alt="computer"
              />
            </div>
            <div class="col-6">
              <p class="text-center">
                Center aligned text on all viewport sizes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
